---
import "@fontsource/geist-sans";

const work = [
  {
    company: "Enzuzo",
    title: "Software Engineering",
    date: "Jan 2024 - Present",
    img: "/static/images/enzuzo.jpeg",
  },
  {
    company: "Faire",
    title: "Backend Engineering",
    date: "Sep 2022 - Dec 2022",
    img: "/static/images/faire_dark.jpeg",
  },
  {
    company: "Faire",
    title: "Frontend Engineering",
    date: "Jan 2022 - Apr 2022",
    img: "/static/images/faire_dark.jpeg",
  },
];

const projects = [
  {
    name: "Microsoft Research - PromptCraft Robotics",
    url: "https://github.com/microsoft/PromptCraft-Robotics/",
  },
  {
    name: "Showcase.js",
    url: "https://github.com/yuan-alex/showcase",
  },
];
---

<!doctype html>
<html>
  <head>
    <title>Alex Yuan</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="description" content="Software developer" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div
      class="p-5 lg:p-20 min-h-screen bg-gradient-to-r from-blue-300 to-green-300"
    >
      <div
        class="p-6 lg:p-12 sm:w-2/3 md:w-3/5 lg:w-1/2 xl:w-2/5 shadow-xl rounded-lg bg-white mx-auto"
      >
        <div class="mb-4">
          <h1 id="name" class="text-2xl font-semibold">Alex Yuan</h1>
        </div>
        <div>
          <p>UWaterloo - Geomatics 2025</p>
        </div>
        <div class="h-5"></div>
        <div class="flex space-x-3">
          <a
            class="px-3 py-1 bg-blue-100 hover:bg-blue-200 rounded-lg"
            href="https://github.com/yuan-alex"
          >
            <i class="fa-brands fa-github"></i>
            <span class="ml-1 text-sm">GitHub</span>
          </a>
          <a
            class="px-3 py-1 bg-blue-100 hover:bg-blue-200 rounded-lg"
            href="https://www.linkedin.com/in/yuan-alex"
          >
            <i class="fa-brands fa-linkedin-in"></i>
            <span class="ml-1 text-sm">LinkedIn</span>
          </a>
        </div>
        <div class="h-12"></div>
        <p class="font-semibold mb-4">Work Experience</p>
        <div class="flex flex-col space-y-5">
          {
            work.map((w) => (
              <div class="rounded-lg flex items-center space-x-3">
                <img
                  alt={`${w.company} logo`}
                  class="w-10 h-10 rounded"
                  src={w.img}
                />
                <div class="text-sm md:text-md">
                  <p>
                    <span>{w.company}</span> -{" "}
                    <span class="text-gray-600">{w.title}</span>
                  </p>
                  <p class="text-gray-500">{w.date}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="h-12"></div>
        <p class="font-semibold mb-4">Projects</p>
        <div class="flex flex-col space-y-1">
          {
            projects.map((project) => (
              <a href={project.url}>
                <div class="text-sm">{project.name}</div>
              </a>
            ))
          }
        </div>
        <div class="h-12"></div>
      </div>
    </div>
    <div></div>
  </body>
</html>
