---
import "@fontsource/geist-sans";

const work = [
  {
    company: "Enzuzo",
    title: "Software Engineering",
    date: "Jan 2024 - Present",
    img: "/static/images/enzuzo.jpeg",
  },
  {
    company: "Faire",
    title: "Backend Engineering",
    date: "Sep 2022 - Dec 2022",
    img: "/static/images/faire_dark.jpeg",
  },
  {
    company: "Faire",
    title: "Frontend Engineering",
    date: "Jan 2022 - Apr 2022",
    img: "/static/images/faire_dark.jpeg",
  },
];

const projects = [
  {
    name: "Microsoft Research - PromptCraft Robotics",
    url: "https://github.com/microsoft/PromptCraft-Robotics/",
  },
  {
    name: "Showcase.js",
    url: "https://github.com/yuan-alex/showcase",
  },
];
---

<!doctype html>
<html>
  <head>
    <title>Alex Yuan</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="description" content="Software developer" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div
      class="min-h-screen bg-gradient-to-r from-blue-300 to-green-300 p-5 lg:p-20"
    >
      <div
        class="mx-auto rounded-lg bg-white p-6 shadow-xl sm:w-2/3 md:w-3/5 lg:w-1/2 lg:p-12 xl:w-2/5"
      >
        <div class="mb-4">
          <h1 id="name" class="text-2xl font-semibold">Alex Yuan</h1>
        </div>
        <div class="flex flex-col space-y-5 text-lg">
          <p>In my free time, I program computers.</p>
          <p>
            I attend the University of Waterloo studying Geomatics graduating in
            2025.
          </p>
        </div>
        <div class="h-5"></div>
        <div class="flex space-x-3">
          <a
            class="rounded-lg bg-blue-100 px-3 py-1 hover:bg-blue-200"
            href="https://github.com/yuan-alex"
          >
            <i class="fa-brands fa-github"></i>
            <span class="ml-1 text-sm">GitHub</span>
          </a>
          <a
            class="rounded-lg bg-blue-100 px-3 py-1 hover:bg-blue-200"
            href="https://www.linkedin.com/in/yuan-alex"
          >
            <i class="fa-brands fa-linkedin-in"></i>
            <span class="ml-1 text-sm">LinkedIn</span>
          </a>
        </div>
        <div class="h-12"></div>
        <p class="mb-4 text-lg">Work Experience</p>
        <div class="flex flex-col space-y-5">
          {
            work.map((w) => (
              <div class="flex items-center space-x-3 rounded-lg">
                <img alt={`${w.company} logo`} class="h-12 w-12" src={w.img} />
                <div class="text-sm">
                  <p class="text-md">{w.title}</p>
                  <p>{w.company}</p>
                  <p class="text-gray-600">{w.date}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="h-12"></div>
        <p class="mb-4 text-lg">Projects</p>
        <div class="flex flex-col space-y-1">
          {
            projects.map((project) => (
              <a href={project.url}>
                <div class="text-md underline">{project.name}</div>
              </a>
            ))
          }
        </div>
        <div class="h-12"></div>
      </div>
    </div>
    <div></div>
  </body>
</html>
