---
import { getCollection } from "astro:content";
import "@fontsource/geist-sans";
import Layout from "../layouts/Layout.astro";

const blogEntries = await getCollection("blog");

const work = [
  {
    company: "Faire",
    title: "Backend Engineer Co-op",
    date: "May 2024 - Present",
    location: "Toronto, Ontario, Canada",
    img: "/static/images/faire_dark.jpeg",
    url: "https://www.faire.com",
  },
  {
    company: "Enzuzo",
    title: "Software Engineer Co-op",
    date: "Jan 2024 - April 2024",
    location: "Waterloo, Ontario, Canada",
    img: "/static/images/enzuzo.jpeg",
    url: "https://www.enzuzo.com",
  },
  {
    company: "Faire",
    title: "Backend Engineer Co-op",
    date: "Sep 2022 - Dec 2022",
    location: "Toronto, Ontario, Canada",
    img: "/static/images/faire_dark.jpeg",
    url: "https://www.faire.com",
  },
  {
    company: "Faire",
    title: "Frontend Engineer Co-op",
    date: "Jan 2022 - Apr 2022",
    location: "Waterloo, Ontario, Canada",
    img: "/static/images/faire_dark.jpeg",
    url: "https://www.faire.com",
  },
];

const projects = [
  {
    name: "Microsoft Research - PromptCraft Robotics",
    url: "https://github.com/microsoft/PromptCraft-Robotics/",
  },
  {
    name: "Showcase.js",
    url: "https://github.com/yuan-alex/showcase",
  },
];
---

<Layout title="Alex Yuan" description="Software development">
  <div class="flex space-x-5">
    <img class="h-20 w-20 mb-5 rounded-full" src="/static/images/avatar.png" />
    <div class="dark:text-white">
      <h1 class="text-2xl font-semibold">Alex Yuan</h1>
      <p>Software enthusiast specializing in web technologies.</p>
    </div>
  </div>
  <div class="flex space-x-3">
    <a
      class="rounded-lg bg-blue-100 px-3 py-1 hover:bg-blue-200"
      href="https://github.com/yuan-alex"
    >
      <i class="fa-brands fa-github"></i>
      <span class="ml-1 text-sm">GitHub</span>
    </a>
    <a
      class="rounded-lg bg-blue-100 px-3 py-1 hover:bg-blue-200"
      href="https://www.linkedin.com/in/yuan-alex"
    >
      <i class="fa-brands fa-linkedin-in"></i>
      <span class="ml-1 text-sm">LinkedIn</span>
    </a>
  </div>
  <div class="h-10"></div>
  <p class="text-lg dark:text-white">Work Experience</p>
  <div class="flex flex-col divide-y dark:divide-gray-500">
    {
      work.map((w) => (
        <div class="py-3 flex space-x-3">
          <a href={w.url}>
            <img alt={`${w.company} logo`} class="h-14 w-14" src={w.img} />
          </a>
          <div>
            <p class="text-md font-semibold dark:text-white">{w.title}</p>
            <p class="text-sm dark:text-white">{w.company}</p>
            <p class="text-sm text-gray-600 dark:text-gray-300">{w.date}</p>
            <p class="text-sm text-gray-600 dark:text-gray-300">{w.location}</p>
          </div>
        </div>
      ))
    }
  </div>
  <div class="h-10"></div>
  <p class="mb-4 text-lg dark:text-white">Projects</p>
  <div class="flex flex-col space-y-1">
    {
      projects.map((project) => (
        <a href={project.url}>
          <div class="text-md underline dark:text-white">{project.name}</div>
        </a>
      ))
    }
  </div>
  <div class="h-10"></div>
  <div>
    <p class="mb-4 text-lg dark:text-white">Blog</p>
    <div class="flex flex-col space-y-5">
      {
        blogEntries.map((blogPostEntry) => (
          <a href={`/blog/${blogPostEntry.slug}`}>
            <div class="">
              <p class="text-md underline dark:text-white">
                {blogPostEntry.data.title}
                {" - "}
                {blogPostEntry.data.publishedDate.toDateString()}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
